/*
 * New Wave 3 (c) by Robert 'Bobby' Zenz
 *
 * New Wave 3 is licensed under a
 * Creative Commons Attribution-ShareAlike 3.0 Unported License.
 *
 * You should have received a copy of the license along with this
 * work.  If not, see <http://creativecommons.org/licenses/by-sa/3.0/>.
 * 
 * Based on the New Wave theme created by Anton Kerezov (dilomo)
 */
 


@define-color debug-color #ff00ff;

@define-color primary-color-light #e5e5e5;
@define-color primary-color-dark #1a1a1a;
@define-color color-disabled #a0a0a0;
@define-color color-disabled-shadow #ffffff;
@define-color color-selection #ffb886;


@define-color selected_bg_color @color-selection;
@define-color selected_fg_color @primary-color-dark;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;


@import url("button.css");
@import url("check.css");
@import url("entry.css");
@import url("label.css");
@import url("menubar.css");
@import url("progressbar.css");
@import url("radio.css");
@import url("scale.css");
@import url("toolbar.css");


* {
	engine: none;
	
	/*font-family: "DejaVu Sans";*/
	/*font-size: 8px;*/
	padding: 0px;
	transition: none;
	text-shadow: none;
}

GtkWindow {
	background-color: @primary-color-light;
}


.grip {
	background-image: url("Images/Others/statusgrip.png");
}

