/*
 * New Wave 3 (c) by Robert 'Bobby' Zenz
 *
 * New Wave 3 is licensed under a
 * Creative Commons Attribution-ShareAlike 3.0 Unported License.
 *
 * You should have received a copy of the license along with this
 * work.  If not, see <http://creativecommons.org/licenses/by-sa/3.0/>.
 * 
 * Based on the New Wave theme created by Anton Kerezov (dilomo)
 */
 

.toolbar {
	background-image: linear-gradient(0deg, #cccccc, #dddddd);
	border: 1px solid transparent;
	border-image: url("Images/Toolbar/toolbar.png") 1;
	padding: 1px 4px 1px 4px;
}

.toolbar .button {
	padding: 0px;
}

.toolbar .button:not(:hover) {
	background: transparent;
	border: none;
	padding: 3px;
}

.toolbar .entry:active {
	-GtkButton-child-displacement-y: 1;
}

